/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.base_pane {
	-fx-background-color: #34495e;
}

.button {
	-fx-background-color: #bdc3c7;
}

.button:hover {
	-fx-background-color: #ecf0f1;
}